<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="omakase">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

        <title>OMAKASE</title>

        <!-- SCROLLS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <style>
            html            { overflow-y:scroll; }
            body            { padding-top:20px; }
            #results-list   { margin-bottom:30px; }
        </style>

        <!-- SPELLS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script><!-- load angular -->
        <script src="core.js"></script>
    </head>

    <!-- SET THE CONTROLLER AND GET ALL RESULTS -->
    <body ng-controller="mainController">
        <div class="container">
            <!-- HEADER AND RESULT COUNT -->
            <div class="jumbotron text-center">
                <h4 style="color:orangered" class="display-4">OMAKASE</h4>
                <span class="text-center text-muted">Discover the best restaurants in your area using machine learning</span>

                <!-- FORM TO SEARCH -->
                <div id="search-form" class="d-flex justify-content-center" style="padding:1%">
                    <!-- <div class="col-sm-8 col-sm-offset-2 text-center"> -->
                    <div class="col-md-5 col-md-offset-2 text-center">

                        <br>
                        <div ng-show="!showLocationEntry" class="font-weight-bold" style="color:black">Use GPS location?</div>
                        <button type="submit" class="btn btn-primary btn-md" ng-show="!showLocationEntry" ng-click="getLocationAndSearch();toggleLocationEntry();">Yes</button>
                        <button class="btn btn-secondary btn-md" ng-show="!showLocationEntry" ng-click="toggleLocationEntry()">No</button>
                        <div ng-show="!showLocationEntry" class="font-weight-light font-italic" style="color:black">No location data is saved</div>

                        <form ng-show="!loading && showLocationEntry">
                            <div class="form-group">
                                <!-- BIND THIS VALUE TO location.text IN ANGULAR -->
                                <input id="location" type="text" class="form-control input-md" placeholder="Where are you now?" ng-model="location">
                            </div>
    
                            <!-- getRestaurantResults() WILL CREATE NEW RESULTS -->
                            <button type="submit" class="btn btn-primary btn-md" ng-click="getRestaurantResults()">Discover</button>
                            <button type="submit" class="btn btn-secondary btn-md" ng-click="getBestRestaurant()">Decide!</button>
                        </form>

                        <div id="accuracy" ng-show="loading" class="text-center text-muted"></div>
                        <!-- <h2 class="font-weight-light font-italic" ng-show="loading">Running neural net...</h2> -->
                        <div class="progress" style="height: 50%;" ng-show="loading">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Running neural network...</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- RESULT LIST -->
            <div id="results-list">
                <ul class="list-unstyled">
                    <!-- LOOP OVER THE RESULTS IN $scope.results -->
                    <li class="media" ng-repeat="result in results | orderBy:'-appeal'">
                        <div  style="padding:2%">{{$index + 1}}. </div>
                        <img style="max-width: 30%" class="align-self-start mr-3" src="{{ result.image_url }}" alt="{{ result.name }}">
                        <!-- <div class="carousel-item">
                            <img src="{{ result.image_url }}" alt="{{ result.name }}">
                        </div> -->
                        <div class="media-body">
                            <h4 class="mt-0"><a href="{{ result.url }}">{{ result.name }}</a></h4>
                            <p>
                               <h5><strong style="color:orangered">{{ result.appeal }}%</strong> - {{ result.rating }} stars  -  {{ result.review_count }} Reviews</h5>
                                <div>{{ result.price }}  -  {{ result.is_closed == true ? 'Closed' : 'Open now' }}  -  
                                    <span ng-repeat="category in result.categories">
                                        {{ category.title }}. 
                                    </span>
                                </div>
                                <div></div>
                            </p>
                            <p>
                                <div>{{ (result.distance * 0.00062137).toFixed(2) }} mi</div>
                            </p>
                            <p>
                                <form class="rating-form-{{result.id}}">
                                    <button class="btn btn-outline-secondary btn-sm disabled" name="{{result.id}}-1" ng-click="updateUserRating(result.id, 1)">★</button>
                                    <button class="btn btn-outline-secondary btn-sm disabled" name="{{result.id}}-2" ng-click="updateUserRating(result.id, 2)">★</button>
                                    <button class="btn btn-outline-secondary btn-sm disabled" name="{{result.id}}-3" ng-click="updateUserRating(result.id, 3)">★</button>
                                    <button class="btn btn-outline-secondary btn-sm disabled" name="{{result.id}}-4" ng-click="updateUserRating(result.id, 4)">★</button>
                                    <button class="btn btn-outline-secondary btn-sm disabled" name="{{result.id}}-5" ng-click="updateUserRating(result.id, 5)">★</button>
                                    <br>
                                    <a href="" name="rating-submit-{{result.id}}" ng-click="submitRating(result.id, result.review_count, result.rating, result.price, result.appeal)"> Submit rating</a>
                                </form>
                            </p>
                            <p>. . . . . . . . . . . . . . . . . . . .</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>