<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="omakase">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

        <title>OMAKASE</title>

        <!-- SCROLLS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <style>
            html            { overflow-y:scroll; }
            body            { padding-top:20px; }
            #results-list   { margin-bottom:30px; }
        </style>

        <!-- SPELLS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script><!-- load angular -->
        <script src="core.js"></script>
    </head>

    <!-- SET THE CONTROLLER AND GET ALL RESULTS -->
    <body ng-controller="mainController">
        <div class="container">
            <!-- HEADER AND RESULT COUNT -->
            <div class="jumbotron text-center">
                <h4 style="color:orangered" class="display-4">OMAKASE</h4>
                <span class="text-center text-muted">Discover the best restaurants in your area using machine learning</span>

                <!-- FORM TO SEARCH -->
                <div id="search-form" class="d-flex justify-content-center" style="padding:1%">
                    <!-- <div class="col-sm-8 col-sm-offset-2 text-center"> -->
                    <div class="col-md-5 col-md-offset-2 text-center">

                        <br>
                        <div ng-show="!showLocationEntry" class="font-weight-bold" style="color:black">Use GPS location?</div>
                        <button type="submit" class="btn btn-primary btn-md" ng-show="!showLocationEntry" ng-click="toggleLocationEntry();getLocationAndSearch();">Yes</button>
                        <button class="btn btn-secondary btn-md" ng-show="!showLocationEntry" ng-click="toggleLocationEntry()">No</button>

                        <form ng-show="!loading && showLocationEntry">
                            <div class="form-group">
                                <!-- BIND THIS VALUE TO location.text IN ANGULAR -->
                                <input id="location" type="text" class="form-control input-md" placeholder="Where are you now?" ng-model="location">
                            </div>
    
                            <!-- getRestaurantResults() WILL CREATE NEW RESULTS -->
                            <button type="submit" class="btn btn-primary btn-md" ng-click="getRestaurantResults()">Discover</button>
                            <button type="submit" class="btn btn-secondary btn-md" ng-click="getBestRestaurant()">Decide!</button>
                        </form>

                        <div id="accuracy" ng-show="loading" class="text-center text-muted"></div>
                        <!-- <h2 class="font-weight-light font-italic" ng-show="loading">Running neural net...</h2> -->
                        <div class="progress" style="height: 50%;" ng-show="loading">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Running neural network...</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RESULT LIST -->
            <div class="container-fluid">
                <table class="table">
                    <!-- LOOP OVER THE RESULTS IN $scope.results -->
                    <tr class="row" ng-repeat="result in results | orderBy:'-appeal'">
                        <td class="col-4">
                            <img class="img-fluid align-top" src="{{ result.image_url }}" alt="{{ result.name }}">
                        </td>
                        <td class="col-8">
                            <h4>{{$index + 1}}. <a href="{{ result.url }}">{{ result.name }}</a></h4>
                            <div>
                                <p>
                                    <div>
                                        <h5><strong style="color:rgb(185, 49, 0)">{{ result.appeal }}%</strong> appeal</h5> 
                                    </div>
                                    <div>{{ result.rating }} stars  -  {{ result.review_count }} Reviews</div>
                                </p>
                                <p>
                                    <div>{{ result.price }}  -  {{ (result.distance * 0.00062137).toFixed(2) }} mi  -  {{ result.is_closed == true ? 'Closed' : 'Open now' }}  -  
                                        <span ng-repeat="category in result.categories">
                                            {{ category.title }}. 
                                        </span>
                                    </div>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>