<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="omakase">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

        <title>OMAKASE</title>

        <!-- SCROLLS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <style>
            html                    { overflow-y:scroll; }
            body                    { padding-top:50px; }
            #todo-list              { margin-bottom:30px; }
        </style>

        <!-- SPELLS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script><!-- load angular -->
        <script src="core.js"></script>

    </head>
    <!-- SET THE CONTROLLER AND GET ALL RESULTS -->
    <body ng-controller="mainController">
        <div class="container">
            <!-- HEADER AND RESULT COUNT -->
            <div class="jumbotron text-center">
                <h1 style="color:orangered" class="display-2">O M A K A S E</h1>
                <h5 style="color:black">Discover the best-ranked restaurants in your area using machine learning</h5>

                    

            <!-- FORM TO SEARCH -->
            <div id="search-form" class="d-flex justify-content-center" style="padding:2%" ng-show="!loading">
                    <!-- <div class="col-sm-8 col-sm-offset-2 text-center"> -->
                    <div class="col-md-5 col-md-offset-2 text-center">
                        <form>
                            <div class="form-group">
    
                                <!-- BIND THIS VALUE TO location.text IN ANGULAR -->
                                <input type="text" class="form-control input-md text-center" placeholder="Where are you now?" ng-model="location.text">
                            </div>
    
                            <!-- getResults() WILL CREATE NEW RESULTS -->
                            <button type="submit" class="btn btn-primary btn-md" ng-click="getRestaurantResults()">Discover</button>
                            <button class="btn btn-secondary btn-md">Decide!</button>
                        </form>
                    </div>
                </div>
            </div>

            <h1 ng-show="loading">Computing...</h1>

            <!-- RESULT LIST -->
            <div style="padding:3%">
                <ul class="list-unstyled" ng-repeat="result in results | orderBy:'-appeal'">
                    <!-- LOOP OVER THE RESULTS IN $scope.results -->
                    <li class="media">
                        <img style="max-width: 30%" class="align-self-start mr-3" src="{{ result.image_url }}" alt="{{ result.name }}">
                        <!-- <div class="carousel-item">
                            <img src="{{ result.image_url }}" alt="{{ result.name }}">
                        </div> -->
                        <div class="media-body">
                            <h3 class="mt-0"><a href="{{ result.url }}">{{ result.name }}</a> ({{ result.appeal }}% - 👍|👎)</h3>
                            <p>
                                <h5>{{ result.rating }} stars - {{ result.review_count }} Reviews</h5>
                                <div>{{ result.price }} - 
                                    <span ng-repeat="category in result.categories">
                                        {{ category.title }}
                                    </span>
                                </div>
                                <div>{{ result.is_closed == true ? 'Closed' : 'Open now' }}</div>
                            </p>
                            <p>
                                <div>{{ (result.distance * 0.00062137).toFixed(2) }} mi</div>
                            </p>
                        </div>
                        <!-- <table class="table">
                            <tr >{{ (result.distance * 0.00062137).toFixed(2) }} mi</tr>
                            <tr >
                                {{ result.location.address1 }}
                                <br>{{ result.location.city }}, {{ result.location.state }} {{ result.location.zip_code }}
                            </tr>
                            <tr >{{ result.phone }}</tr>
                        </table> -->
                    </li>
                </div>
            </ul>
        </div>
    </body>
    <script>
        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude + 
            "<br>Longitude: " + position.coords.longitude; 
        }
    </script>
</html>